<section class="search-food">
    <h3>Search Food</h3>
    <input type="text" name="" id="">
  </section>
  
  <div class="main-container">
    <div class="new-container">
  
      <div class="add-food-container">
        <h2> <span> AddNewFood </span></h2>
        Name: <input type="text" name="name" [(ngModel)] = "newFoodName"> <br><br>
        Calories: <input type="text" name="cal" [(ngModel)] = "newFoodCalories"> <br><br>
        Image: <input type="text" name="img" [(ngModel)] = "newFoodImage"> <br><br>
        <button type="button" (click) = "addFood()">Add Food</button> <br><br>
      </div>
  
      <div class="display-food-container">
          <ul class="items">
            <li *ngFor="let item of items">
              <img src="{{item.image}}" alt=" {{item.name}}">
              <div class="grid">
                <p>{{item.name}}</p>
                <p>Calory-<span class="color">{{item.calories}}</span></p>
                <input #count  type="number">
                <button class="add-btn" (click)="addCount(count.value,item)">Add</button>
              </div>
            </li>
          </ul>
      </div>
    </div>
  
  </div>